
html,body {
    width: 100%;
    height: 100%;
}

div > img {
    width: 40px;
    height: 40px;
}

 

/* .container-fluid {
    margin-left: 0px;
    height: 100%;
    width: 100% !important;
    display: inline;
    justify-items: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 1 !important;
} */


select{
    position: absolute;
    margin: auto;
    text-align: center;
    left: 40vw;
}
#logo {
    width: 30px;
    margin-top: -1%;
    margin-left: 15px;
}

 

#appName {
   margin-top: 0%;
   margin-left: 0%;
   color: black;
   font-family: Cinzel;
}

/* MODALS  */
#countryName {
    text-decoration: none;
}

/* wiki modal  */
#wikiImg {
    float: left;
    width: 700px;
    height: auto;
    margin-top: 14px;
    margin-right: 60px;
}

#wikiInfo {
    text-align: justify;
}

#wikiLoop > img {
    float: left;
    width: 150px;
    height: auto;
    margin-top: 14px;
    margin-right: 15px;
}

 

#wikiLoop > p {
    text-align: justify;
}

 

.small > img {
    width: 200px;
    height: auto;
}

 

/* weather modal  */

#weather {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: capitalize;
}

 

#weatherRow {
    text-align: center;
    width: 100%;
    min-height: 173px;
}

 

#weatherImg > img {
    float: left;
    width: 140px;
    height: auto;
}

 

.icon {
    width: 18px;
    height: auto;
}

#temperature {
    font-size: 1.8em;
    font-weight: 750;
    margin-top: 5px;
}
#temperature > span {
    margin-top: -20px;
    font-size: 0.7em;
    font-weight: 500;
    display: block;
}

#forecast {
    width: 100%;
} 

#forecast > div > h6 {
    font-weight: 300;
    font-size: 0.9em;
}

#forecast > div {
    display: inline-block;
    width: 33%;
}

#forecast > div > img {
    float: left;
    width: 65px;
    height: auto;
}

#forecast > div > div {
    margin-top: 5%;  
}

#forecast > div > div > span {
    display: block;
    text-align: right;
    margin-right: 12%;
}

#forecast > div > p {
    text-transform: capitalize;
    font-size: 0.8em;
    text-align: left;
}

/* news modal */
#newsContent > a,
#newsContent2 > a,
#newsContent3 > a {
    text-decoration: none;
    color: black;
}

#newsContent > a:hover,
#newsContent2 > a:hover,
#newsContent3 > a:hover  {
    text-decoration: underline;
    color: black;
}
#newsImg > img,
#newsImg2 > img,
#newsImg3 > img {
    float:left;
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}
.contentBox {
    min-height: 150px;
}

/* MEDIA  */

@media only screen and (max-width: 410px) {

    div.container-fluid {
        justify-content: center !important;
    }
    #navbarSupportedContent {
       max-width: 50%;
       justify-self: center;
    }

    #forecast {
        padding: 5%;
    }

    #temperature {
        margin-top: -5%;
    }
}

@media only screen and (max-width: 495px) {

    div.container-fluid {
        width: 100vw;
        justify-content: center !important;
    }

   #logo {
       display: none;
   }

   #appName {
       display: none;
   }

   #navbarSupportedContent {
       max-width: 50%;
       justify-self: center;
    }

    #weatherImg > img {
        width: 90px;
        height: auto;
    }

    #temperature {
        text-align: center;
    }

    #weatherImg > img {
        margin-top: 5%;
        float: none;
    }

    #forecast {
        width: 100%;
        text-align: center;
    }

    #forecast > div {
        display: inline-block;
        width: 50%;
        padding: 8px;
    }

    #forecast > div > img {
        width: 50px;
        height: auto;
    }

    #forecast > div > p {
        margin-top: -10px;
    }
}

@media only screen and (min-width: 496px) and (max-width: 780px) {

    .container-fluid {
        width: 100vw;
        margin: 0px;
        justify-content: center !important;
    }

    #logo {
       display: none;
    }

    #appName {
       display: none;
   }

   select {
       max-width: 30%;
       justify-items: center;
    }

   #weatherImg {
        text-align: center;
    } 

    #weatherImg > img {
        float: none;
        text-align: center;
        width: 100px;
    }

    #temperature {
        display: block;
        text-align: center;
    }

    #temperature > span,
    #temperature > p {
        white-space: nowrap;
    }
}

@media only screen and (min-width: 781px) and (max-width: 844px) {

 

}

/* preloder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }

    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}