
/* map */
#map { 
    width: 100%;
    height: 100vh;
 }
 /* card  */
 .info {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
 }

#wikipedia, #wikiInfo, #link {
    max-width: 100%;
}
#wikibutton {
    z-index: -1;
}

#wikiImg {
    display: flex;
    justify-items: center;
    width: 50px;
    height: auto;
}
/*
table, tbody, tr, td, span{
    max-width: 100%;
    overflow: auto;
    flex-wrap: wrap;
}

#countryName {
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}*/

 